<table>
    <thead>
    <tr>
        <th>Programa</th>
        <th>Código</th>
        <th>Fecha</th>
        <th>Total</th>
    </tr>
    </thead>
    <tbody>
    {% for p in programs %}
        <tr>
            <td>{{ p.nombre }}</td>
            <td>{{ p.codigo }}</td>
            <td>{{ p.fecha }}</td>
            <td>{{ countStudent(2, p.codigo) }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>