<table>
    <thead>
        <tr>
            <th>Institución</th>
            <th>Código</th>
            <th>Fecha</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        {% for i in institutions %}
            <tr>
                <td>{{ i.nombre }}</td>
                <td>{{ i.codigo }}</td>
                <td>{{ i.fecha }}</td>
                <td>{{ countStudent(1, i.codigo) }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>